@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 200, 200, 200;
  --footer-start-rgb: 0, 0, 0;
  --footer-end-rgb: 80, 80, 80;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

footer {
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--footer-end-rgb))
  )
  rgb(var(--footer-start-rgb));
}

a:hover {
    text-decoration: underline;
}
